<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Híbridas y Nativas</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/contenido-clase">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Librerías de componentes</h1>
  <h3>IONIC</h3>
  <ul>
    <li>
      Ofrece la posibilidad de crear aplicaciones hibridas.
    </li>
    <li>
      Rápido para desarrollar con un código parecido al usado para crear una aplicación web usando angular.
    </li>
    <li>
      Es como un framework entero para la creación de las apps.
    </li>
  </ul>
  <h3>Prime NG</h3>
  <ul>
    <li>
      Colección de muchos componentes.
    </li>
    <li>
      Personaliza la apariencia de los componentes.
    </li>
    <li>
      Tiene un componente drag and drop por lo que no tendrás que buscar otra librería para esta funcionalidad.
    </li>
    <li>
      Tiene componentes de visualización de datos.
    </li>
  </ul>
  <h3>NG Bootstrap</h3>
  <ul>
    <li>
      Se puede utilizar directamente como en una página normal.
    </li>
    <li>
      Partes de Bootstrap que usan JS no funcionaran.
    </li>
    <li>
      Contiene muchos componentes.
    </li>
    <li>
      Podrás utilizar el dropdown de Bootstrap sin hacer nada raro.
    </li>
  </ul>

  <h3>Angular Material</h3>
  <ul>
    <li>
      Diseño basado en Google.
    </li>
    <li>
      Conjunto amplio de componentes listo para su uso.
    </li>
    <li>
      Diseño inspirado en material design.
    </li>
    <li>
      Variedad de componentes.
    </li>
  </ul>

  <h3>NGX Admin</h3>
  <ul>
    <li>
      Creación de paneles de control de manera mas fácil y sencilla.
    </li>
    <li>
      Vienen incluidos dos temas uno claro y otro oscuro.
    </li>
    <li>
      Variedad de componentes.
    </li>
  </ul>

  <h3>NGRX</h3>
  <ul>
    <li>
      Diseño basado en Google.
    </li>
    <li>
      Conjunto amplio de componentes listo para su uso.
    </li>
    <li>
      Diseño inspirado en material design.
    </li>
    <li>
      Variedad de componentes.
    </li>
  </ul>

  <img src="../../assets/img/tabla_1.PNG" alt="">
  <img src="../../assets/img/tabla_2.PNG" alt="">
</ion-content>
