<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Librerías</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/contenido-clase">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Características</h1>
  <h3>IONIC</h3>
  <ul>
    <li>
      Ofrece la posibilidad de crear aplicaciones hibridas.
    </li>
    <li>
      Rápido para desarrollar con un código parecido al usado para crear una aplicación web usando angular.
    </li>
    <li>
      Es como un framework entero para la creación de las apps.
    </li>
  </ul>
  <h3>Prime NG</h3>
  <ul>
    <li>
      Colección de muchos componentes.
    </li>
    <li>
      Personaliza la apariencia de los componentes.
    </li>
    <li>
      Tiene un componente drag and drop por lo que no tendrás que buscar otra librería para esta funcionalidad.
    </li>
    <li>
      Tiene componentes de visualización de datos.
    </li>
  </ul>
  <h3>NG Bootstrap</h3>
  <ul>
    <li>
      Se puede utilizar directamente como en una página normal.
    </li>
    <li>
      Partes de Bootstrap que usan JS no funcionaran.
    </li>
    <li>
      Contiene muchos componentes.
    </li>
    <li>
      Podrás utilizar el dropdown de Bootstrap sin hacer nada raro.
    </li>
  </ul>

  <h3>Angular Material</h3>
  <ul>
    <li>
      Diseño basado en Google.
    </li>
    <li>
      Conjunto amplio de componentes listo para su uso.
    </li>
    <li>
      Diseño inspirado en material design.
    </li>
    <li>
      Variedad de componentes.
    </li>
  </ul>

  <h3>NGX Admin</h3>
  <ul>
    <li>
      Creación de paneles de control de manera mas fácil y sencilla.
    </li>
    <li>
      Vienen incluidos dos temas uno claro y otro oscuro.
    </li>
    <li>
      Variedad de componentes.
    </li>
  </ul>

  <h3>NGRX</h3>
  <ul>
    <li>
      Basada en Redux.
    </li>
    <li>
      Gestiona el estado de la aplicación web en un único punto llamado store.
    </li>
    <li>
      Permite compartir datos.
    </li>
    <li>
      Ayuda a aplicaciones grandes sean mantenibles.
    </li>
  </ul>

  <h3>NG Animate</h3>
  <ul>
    <li>
      Pequeñas animaciones para usar en los componentes de Angular.
    </li>
    <li>
      Crear animaciones propias.
    </li>
    <li>
      Las que vienen por defecto están bien para animar componentes cuando se cargan o para avisar al usuario de un evento en la página.
    </li>
  </ul>

  <h3>NGX Cookie</h3>
  <ul>
    <li>
      Es la implementación de una librería conocida creada para AngularJS.
    </li>
    <li>
      Permite gestionar cookies.
    </li>
  </ul>

  <h3>NGX Charts</h3>
  <ul>
    <li>
      Una librería de componentes específicos de gráficas de todo tipo.
    </li>
    <li>
      Graficas totalmente personalizables.
    </li>
  </ul>

  <h3>Angular Notifier</h3>
  <ul>
    <li>
      Crea propios componentes para mostrar notificaciones.
    </li>
    <li>
      Las notificaciones vienen con animaciones.
    </li>
    <li>
      Se pueden ocultar y personalizar varios parámetros.
    </li>
  </ul>

  <h3>Angular Split</h3>
  <ul>
    <li>
      Componentes para crear columnas.
    </li>
    <li>
      Se puede adaptar el tamaño.
    </li>
    <li>
      Personalizable y ofrece transiciones entre tamaños.
    </li>
  </ul>

  <h3>Dragula</h3>
  <ul>
    <li>
      Pensada para varios frameworks.
    </li>
    <li>
      Implementa componentes y diseños de Drag and Drop.
    </li>
    <li>
      Usuario puede mover y arrastrar los elementos de la página con el ratón o con el dedo en smartphones.
    </li>
  </ul>

  <h3>Tabla de componentes</h3>

  <img src="../../assets/img/tabla_1.PNG" alt="">
  <img src="../../assets/img/tabla_2.PNG" alt="">
</ion-content>
