<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Interfaces estáticas y dinámicas</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/contenido-clase">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Interfaces estáticas</h1>
  <p>Una interfaz estática está generalmente basada en HTML. Esto quiere decir que el código se sube a internet para que el usuario pueda interactuar con ella.</p>
  <p>Las interfaces estáticas son una buena opción en caso de no actualizar con frecuencia su contenido.</p>
  <h3>Ventajas</h3>
  <ul>
    <li>Es muy rápida de crear por la sencillez del lenguaje.</li>
    <li>Tiene una mayor velocidad de carga, ya que se reduce a código HTML y no tiene muchas más funcionalidades.</li>
    <li>Como el tiempo de respuesta es menor, tiene mejor posicionamiento SEO.</li>
  </ul>
  <h3>Inconvenientes</h3>
  <ul>
    <li>No tiene muchas opciones de diseño. Sus opciones son muy limitadas.</li>
    <li>Se necesita tener conocimientos de programación para modificar el HTML.</li>
    <li>A pesar de poder insertar un ID de Analytics y tener cierta información sobre las interacciones del usuario, no es posible conocer todas las acciones que el usuario realiza</li>
  </ul>
  <h1>Interfaces dinámicas</h1>
  <p>Una interfaz dinámica permite cambiar y actualizar su contenido constantemente, ya sea un texto o una imagen,   y además interactuar con el usuario de más formas (Comentarios de una publicación, encuestas, ventas de productos…).</p>
  <p>Como este tipo de páginas son más complejas, hay CMS (o sistemas de gestión de contenido) que hacen que crearlas sea más sencillo. Por ejemplo: Wordpress.</p>
  <p>Las páginas dinámicas suelen combinarse con PHP y MySQL.</p>
  <h3>Ventajas</h3>
  <ul>
    <li>Si se recurre a un sistema de gestión de contenido para crearla, se puede hacer un gran número de cosas y añadir más opciones mediante plugins.</li>
    <li>Es fácil de actualizar y con pocos clicks en el CMS es posible cambiar el contenido de la página y su diseño.</li>
    <li>Tiene muchas más opciones de interacción con el usuario al poder adaptar la información de diferentes formas</li>
  </ul>
  <h3>Inconvenientes</h3>
  <ul>
    <li>Como tiene más funcionalidades, necesita más recursos que una página estática. También necesita una base de datos en la que se guarda el contenido que se vaya a mostrar.</li>
    <li>El diseño de la interfez puede estar limitado, ya que el contenido de la misma suele estar basado en información de bases de datos y la presentación de los datos se basa en la estructura de la misma</li>
  </ul>

  <p>Ninguna interfaz es necesariamente peor que la otra. Todo depende de para qué se vaya a utilizar</p>
</ion-content>
