<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button href="/tabs/tab1">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nueva clase</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tarjeta">
    <ion-card>
    <div id="formaulario">
      <div id="titulo">
        <p class="ion-text-center">Nombre de la clase</p>
      </div>
      <div id="info">
        <p >Introduce el nombre de la clase que quieres crear</p>
      </div>
      <div id="codigo">
        <input type="text" name="codigo" id="" placeholder="Nombre de la clase">
      </div>
      <div id="botonUnirse">
        <ion-button>
          Crear clase
        </ion-button>
      </div>
    </div>
    
    </ion-card>
  </div>
</ion-content>
