<ion-accordion-group expand="inset">
  <ion-accordion>
    <ion-item slot="header" color="primary">
      <ion-label>Tema 1</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <a href="#">Aplicaciones híbridas y nativas</a> 
    </div>
    <div class="ion-padding" slot="content">
      <a href="#">Componentes, propiedades, atributos y eventos</a> 
    </div>
    <div class="ion-padding" slot="content">
      <a href="#">Librerías de componentes</a> 
    </div>
    <div class="ion-padding" slot="content" id="anadir">
      <ion-input type="text" placeholder="Añadir apartado"></ion-input>
      <ion-button>
        <ion-icon name="add" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-accordion>
  <ion-accordion class="ion-no-padding">
    <ion-item slot="header" color="primary">
      <ion-label>Tema 2</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <a href="#">Herramientas de edición de interfaces</a> 
    </div>
    <div class="ion-padding" slot="content">
      <a href="#">Componentes, propiedades, atributos y eventos</a> 
    </div>
    <div class="ion-padding" slot="content">
      <a href="#">Interfaces dinámicas y estáticas</a> 
    </div>
    <div class="ion-padding" slot="content" id="anadir">
      <ion-input type="text" placeholder="Añadir apartado"></ion-input>
      <ion-button>
        <ion-icon name="add" color="dark"></ion-icon>
      </ion-button>
    </div>
  </ion-accordion>
</ion-accordion-group>

