<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="12">
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <ion-item>
          <div id="user">
            <div id="imgUser">
              <div id="ImgUser">
                <img src="../../assets/img/userProfe.png" alt="">
              </div>
              <p class="ion-text-center">Profesor</p>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <div id="misClases">
          <ion-note>Mis clases</ion-note>
          <div id="mobile">
            <div class="marco">
              <app-clase></app-clase>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
