<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons slot="end" class="ion-hide-lg-up">
      <ion-button>
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" class="ion-hide-lg-down">
      <ion-button>
        Ajustes del perfil
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size="12">
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <ion-item>
          <div id="user">
            <div id="imgUser">
              <div id="ImgUser">
                <img src="../../assets/img/avatar.png" alt="">
              </div>
              <p class="ion-text-center">Profesor</p>
            </div>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <div id="misClases">
          <ion-note>Mis clases</ion-note>
        </div>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="4" size-xl="4">
        <app-clase></app-clase>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
