<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button href="/tabs/tab1">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Desarrollo de interfaces</ion-title>
    <ion-buttons slot="end" class="ion-hide-lg-down">
      <ion-button href="/crear-tema">
        Crear tema
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" class="ion-hide-lg-up">
    <ion-fab-button href="/crear-tema">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid class="ion-hide-lg-up">
    <ion-row size="12">
      <ion-col size-xs="12" size-l="12" size-xl="12">
        <div id="codigo">
          <h6>Código: 1234</h6>
        </div>
      </ion-col>
    </ion-row>
    <ion-row size="12">
      <ion-col size-xs="12" size-l="3" size-xl="3">
        <app-tema> </app-tema>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-tema class="ion-hide-lg-down"> </app-tema>

</ion-content>
