<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Nuevo tema</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="tarjeta">
    <ion-card>
    <div id="formaulario">
      <div id="titulo">
        <p class="ion-text-center">Nombre del tema</p>
      </div>
      <div id="info">
        <p >Introduce el nombre del tema que quieres crear</p>
      </div>
      <div id="codigo">
        <input type="text" name="codigo" id="" placeholder="Nombre del tema">
      </div>
      <div id="botonUnirse">
        <ion-button>
          Crear tema
        </ion-button>
      </div>
    </div>
    
    </ion-card>
  </div>
</ion-content>
