<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Componentes</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/contenido-clase">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Componentes</h1>
  <p>Un componente es un fragmento de código que se puede reutilizar y que puede contener multitud de elementos dentro del componente. Para hacernos una idea imaginemos una tarta, para hacer una tarta se necesitan unos ingredientes y algunos de esos ingredientes se usan para hacer otros como por ejemplo para la masa nos hace harina, huevos y agua y todos ellos juntos hacen la masa pues en este caso la masa seria nuestro componente, ya que esa masa la podremos usar para otras partes de la tarta. Así que un componente es un fragmento de código que podemos reutilizar como un recurso para no tener usar de forma separada todo de lo que esta echo el componente y darte unas propiedades y atributos diferentes al componente sin tener que modificarlo.</p>
  <img src="../../assets/img/ejemplo1.PNG" alt="">

  <h1>Propiedades</h1>

  <p>Las propiedades de un componente son las variables que se le dan a los elementos que están dentro del componente de tal forma que podamos decir las propiedades que tiene ese elemento como por ejemplo el tamaño o color.</p>

  <h1>Atributos</h1>

  <p>Los atributos son como las propiedades, pero con la diferencia de que los atributos son para diferenciar un objeto de otro de forma individual mientras las propiendas lo hacen de forma global. Esto lo podemos ver cuándo por ejemplo le damos un identificar a un elemento y le damos unos atributos y a varios elementos los metemos en una clase para darles unas propiedades.</p>

  <img src="../../assets/img/ejemplo2.PNG" alt="">

  <h1>Evento</h1>

  <p>Un evento será cualquier cosa que implique una acción o que pueda a llegar a cambiar la apariencia o el comportamiento, por lo que un evento es la forma de comunicar un suceso para que se realice la acción asociada a dicho evento. Los eventos pueden ser llamados por diferentes acciones y entre ellas están:</p>
  <ul>
    <li>
      Hacer click: Esto es al dar click o un toque la pantalla que no tiene por qué estar vinculado a un elemento como un botón.
    </li>
    <li>
      Hacer click en un elemento visual: Esto seria los click o toques a elementos que se pueden ver como por ejemplo botones y este tipo de elementos suelen ser los más comunes y abundantes.
    </li>
    <li>
      Pulsación de teclado: Estas son las acciones que se dan al pulsar las teclas del teclado y esto se puede ver en videojuegos, aplicaciones y en una gran parte de los programas que ciertas acciones que se pueden usar haciendo click en ellas, pero también se pueden usar con una tecla a modo de atajo.
    </li>
  </ul>

</ion-content>
