<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Híbridas y Nativas</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/contenido-clase">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Aplicaciones Híbridas</h1>
  <h5>Características</h5>

    <ul>
    <li>Capacidad de funcionar esté o no conectado al dispositivo <br>
  </li>
    <li>Integración con el sistemas de archivos del dispositivo móvil </li> 
   <li>Integración con servicios basados en web</li> 
    <li>Un navegador integrado para mejorar el acceso a contenido dinámico en línea </li> 
  </ul>
  <h5>¿Cómo funcionan las aplicaciones híbridas?</h5>
  <p>Funcionan de manera similar a las aplicaciones web pero, al igual que las aplicaciones nativas, se descargan en el dispositivo.Al igual que las aplicaciones web suelen estar escritas en HTML5, CSS y JavaScript.</p>
  <p>Las aplicaciones híbridas ejecutan código dentro de un contenedor.El motor del navegador del dispositivo se utiliza para representar HTML y JavaScript y API nativas para acceder al hardware específico del dispositivo.
    Aunque una aplicación híbrida normalmente compartirá elementos de navegación similares a los de una aplicación web, el hecho de que una aplicación funcione sin conexión depende de sus funcionalidades. Si una aplicación no necesita soporte de una base de datos, entonces se puede hacer que funcione sin conexión.</p>
    <h5>Pros y contras</h5>
    <h6>Ventajas</h6>
    <ul>
    <li>Operar en diferentes plataformas</li> 
    <li>Tiempos de compilación más rápidos en comparación con las aplicaciones nativas</li> 
    <li>Más barato de desarrollar en comparación con la creación de dos versiones de una aplicación nativa para dos plataformas diferentes.</li> 
   <li>Es más fácil lanzar parches y actualizaciones.</li> 
   <li> Puede trabajar en línea y sin conexión.</li>
  </ul>
    <h6>Desventajas</h6>
    <ul>
    <li>Variaciones debidas al desarrollo inclinado en una plataforma, por ejemplo  si un equipo de desarrollo inclina su trabajo hacia una plataforma, otra plataforma admitida puede carecer de calidad o sufrir errores. </li> 
    <li>La apariencia de una aplicación puede variar de una plataforma a otra </li> 
    <li>La necesidad de probar la aplicación en una variedad de dispositivos para garantizar un funcionamiento adecuado. </li> 
    <li> experiencia del usuario UX puede caer si la interfaz del usuario (UI) no es similar a los navegadores a los que el usuario está acostumbrado y está lo suficientemente bien diseñada. </li> 
  </ul>
      <strong>Ejemplos aplicaciones híbridas</strong> 
      <div id="ejemplos">
        <img src="../../assets/img/580b57fcd9996e24bc43c521.png" alt=""><img src="../../assets/img/logotw.png" alt=""><img src="../../assets/img/pngwing.com.png" alt="">
      </div> 
      <h1>Aplicaciones Nativas</h1>
      <p>Se llaman aplicaciones nativas debido a que <b> se desarrollan para el sistema operativo nativo de cada dispositivo</b>.  </p>
      <p>  Este tipo de aplicaciones móviles son aquellas que nos descargamos en las tiendas de apps como pueden ser Play Store (Android) y App Store (iOS).</p>
      <p> <b> Lo más habitual es crear dos aplicaciones, una para Android y otra para iOS</b> pero que a nivel de diseño, funcionalidades y experiencia de usuario sean iguales.</p>
        <p>De esta forma, se consigue crear <b> aplicaciones nativas totalmente adaptadas a cada sistema operativo y también a los dispositivos </b>, ofreciendo así una experiencia más completa y mejorada a los usuarios.</p>
        <h6>Ventajas y desventajas</h6>
        <ul>
          <li>Gran nivel de personalización</li>
          <li>Uso sin conexión a Internet</li>
          <li>Seguridad</li>
        </ul>
</ion-content>

