<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/contenido-clase">
        <ion-icon name="chevron-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light">Híbridas y Nativas</ion-title>
    <ion-buttons slot="end">
      <ion-button href="/contenido-clase">
        <ion-icon name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Aplicaciones Nativas</h1>
  <h3>Definición</h3>

  <p>Una app nativa es aquella que está desarrollada específicamente para un sistema operativo concreto de móvil, como Android o IOS.</p>

  <h1>Aplicaciones Híbridas</h1>
  <h3>Definición</h3>

  <p>Las aplicaciones híbridas se adaptan a cualquier plataforma y están desarrolladas con un patrón de diseño responsive. Esto quiere decir que se adaptan también a cualquier tamaño de pantalla o resolución.</p>

  <h1>Diferencias</h1>

  <ul>
    <li>
      <p>Las aplicaciones nativas pueden funcionar sin conexión a internet y al estar desarrolladas para un sistema específico, su rendimiento suele ser mayor.</p>
    </li>
    <li>
      <p>Las aplicaciones nativas pueden funcionar sin conexión a internet y al estar desarrolladas para un sistema específico, su rendimiento suele ser mayor.</p>
    </li>
  </ul>
</ion-content>

